* {
    margin: 10px;
    box-sizing: border-box; 
}

/* Header styles */
header {
    background-color: #f0f0f0;
    display: flow-root;
    padding: 10px;
    text-align: center;
}
header h1{
    float: left;
}

/* Navigation styles */
nav ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    width: 100px;
    position: relative;
    top: 10px;
    padding: 5px;
    display: inline-block;
    margin-left: 10px;
}

/* Main content styles */
main {
    clear: both; 
    padding: 10px;
}

article {
    float: left;
    width: 60%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

/* Sidebar styles */
aside {
    float: right;
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
}

/* Footer styles */
footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    clear: both;
}