body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #37123C;
    border-radius: 5px;
    background-color: #DEDEDE;
  }
  legend{
    font-size: large;
    font-weight: 600;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #37123C;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #243447; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #08415C;
    transform: scale(0.97);
  }
  
  /* Responsive Design */
  
  @media only screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    label {
      font-size: 14px;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      font-size: 14px;
    }
    legend{
        font-size: medium;
    }
  }
  